*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(to bottom right, #0b0d1a 0%, #2B2D5E 60%);
    color: white;
    min-height: 100vh;
}
.hero-section{
    display: flex; 
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}